/*
 * Author: National Research Council Canada
 * Website: http://www.nrc-cnrc.gc.ca/eng/rd/ict/
 *
 * License: MIT
 * Copyright: Her Majesty the Queen in Right of Canada, as represented by
 * the Minister of National Research Council, 2017
 */
 @import url('https://fonts.googleapis.com/css?family=Anton|Lato|Oswald|Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
