/* .grid-sizer, .grid-item {
    width: calc(100% );
}

@media screen and (min-width: 850px) {
    .grid-sizer, .grid-item {
        width: calc(50% - 15px);
    }
}

@media screen and (min-width: 1150px) {
    .grid-sizer, .grid-item {
        width: calc(33.333% - 15px);
    }
}

@media screen and (min-width: 1450px) {
    .grid-sizer, .grid-item {
        width: calc(25% - 15px);
    }
}

@media screen and (min-width: 1850px) {
    .grid-sizer, .grid-item {
        width: calc(20% - 15px);
    }
}

.grid-item {
    margin-bottom: 15px;
} */

.load-more {
    text-align: center;
    padding: 10px 0;
    margin-bottom: -20px;
}

.fieldset-container {
    border: solid 1px #444;
    text-align: left;
    position: relative;
    padding: 0 15px;
    margin-bottom: 25px;
    display: inline-block;
    max-width: 350px;
    width: 100%;
}

.fieldset-heading-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333;
    margin: auto;
    font-size: 18px;
    background-color: #f5f8fa;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 7px;
}

.fieldset-heading-text-drawer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333;
    margin: auto;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #f5f8fa;
    z-index: 99;
    display: block;
}

.nrc-sticky {
    position: sticky;
    bottom: 0;
    background-color: #f5f8fa;
    background-repeat: no-repeat;
    background-position-y: center;
    z-index: 99;
    text-align: right;
    margin-top: 45px;
}

.nrc-logo {
    position: relative;
    width: 150px;
    padding: 10px;
}

.full-width {
    width: 100%;
    display: inline-block;
}

.btn-2 {
    background-color: #0375b4;
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 53px 12px 23px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
}

.btn-2 span {
    position: relative;
    z-index: 3;
}

.btn-2 .round {
    background-color: #2e9dd9;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    transition: all 0.3s ease-out;
    z-index: 2;
}

.btn-2 .round .icon {
    position: absolute;
    top: 35%;
    margin-top: -6px;
    left: 35%;
    margin-left: -4px;
    transition: all 0.3s;
  }

.txt {
    font-size: 14px;
    line-height: 1.45;
}

.floating-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.floating-button .btn-2:hover {
    padding-left: 48px;
    padding-right: 28px;
}

.floating-button .btn-2:hover .round {
    width: calc(100% - 6px);
    border-radius: 30px;
}

.floating-button .btn-2:hover .round .icon {
    left: 12%;
}

.drawer-view-year {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
    display: inline-block;
}

.view-year {
    text-align: center;
    padding: 15px 0;
    font-family: 'Gotham Ultra', sans-serif;
    margin-bottom: 10px;
}

.view-year .underline {
    border-bottom: 1px black solid;
    padding: 0 20px 5px 20px;
}

.none-message, .error-message {
    text-align: center;
    font-size: 12px;
    text-transform: lowercase;
    color: #555;
    padding: 15px 0;
}