/* .grid-sizer, .grid-item {
    width: calc(100% );
}

@media screen and (min-width: 850px) {
    .grid-sizer, .grid-item {
        width: calc(50% - 15px);
    }
}

@media screen and (min-width: 1150px) {
    .grid-sizer, .grid-item {
        width: calc(33.333% - 15px);
    }
}

@media screen and (min-width: 1450px) {
    .grid-sizer, .grid-item {
        width: calc(25% - 15px);
    }
}

@media screen and (min-width: 1850px) {
    .grid-sizer, .grid-item {
        width: calc(20% - 15px);
    }
}

.grid-item {
    margin-bottom: 15px;
} */

.load-more {
    text-align: center;
    padding: 10px 0;
    margin-bottom: -20px;
}

.fieldset-container {
    border: solid 1px #444;
    text-align: left;
    position: relative;
    padding: 0 15px;
    margin-bottom: 25px;
    display: inline-block;
    max-width: 400px;
}

.fieldset-heading-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333;
    margin: auto;
    font-size: 18px;
    background-color: #f5f8fa;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 7px;
}

.fieldset-heading-text-drawer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333;
    margin: auto;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #f5f8fa;
    z-index: 99;
    display: block;
}

.nrc-sticky {
    position: sticky;
    bottom: 0;
    background-color: #f5f8fa;
    background-repeat: no-repeat;
    background-position-y: center;
    z-index: 99;
    text-align: right;
}

.nrc-logo {
    position: relative;
    width: 150px;
    padding: 10px;
}

.full-width {
    width: 100%;
    display: inline-block;
}