.wordcloud-score-div {
  width: 100%;
  display: block;
}

.header {
  display: inline-flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  background-color: #0375b4;
  color: #fff;
  padding: 5px 13px;
  margin-left: -15px;
  margin-bottom: 15px;
}

.heading {
  margin: 10px 0;
}

.article-title {
  line-height: 2.5ex;
  margin: 0;
}

.star-rating {
  font-size: 1.5em;
  text-align: center;
  font-family: Roboto, sans-serif;
  align-self: flex-end;
}

.star-rating > h5 {
  font-size: 0.83rem;
  margin-bottom: 10px;
}

.star-rating .dv-star-rating > label {
  margin-right: 3px;
}

.tooltip {
  border-radius: 5px !important;
}

.article-bottom {
  border-radius: 0 0 2px 2px;
  background-color: #0375b4;
  color: #fff;
  text-align: center;
  padding: 4px;
  margin: 15px -15px -15px -15px;
}

.article-bottom > h5 {
  margin: 0;
}

.header-new {
  margin-top: 0;
}

.card {
  max-width: 400px;
  margin-bottom: 15px;
}

.card-padding {
  padding: 15px;
}

.card-padding-listview {
  padding: 0 15px 15px 15px;
}

.phrases-heading-border-top {
  border: solid 1px #d4d4d4;
  border-bottom: 0;
  text-align: center;
  position: relative;
  height: 8px;
}

.wordcloud-container {
  text-align: center;
  overflow: hidden;
  margin-top: 7px;
  margin-bottom: -10px;
}

.phrases-heading-border-bottom {
  border: solid 1px #d4d4d4;
  border-top: 0;
  position: relative;
  height: 8px;
}

.phrases-heading-text {
  color: #333;
  font-size: 14px;
  position: relative;
  top: -11px;
  background-color: white;
  padding: 0 7px;
  text-align: center;
  font-family: 'Gotham Ultra', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

.score-circle {
  width: 50px;
}

.CircularProgressbar {
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #0375b4;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #fff;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #333;
  font-size: 30px;
  dominant-baseline: mathematical;
  text-anchor: middle;
  font-weight: 600;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #0375b4;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

.card-title-link {
  text-decoration: none;
  color: #333;
}

.card-title-link:hover {
  text-decoration: underline;
  color: #333;
}

.card-title {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 800;
}

.card-subtitle {
  font-size: 11px !important;
}

.rating-empty {
  width: 6px;
  height: 17px;
  background-color: #ccc;
  margin: 2px;
  border-radius: 3px;
}

.rating-full {
  width: 6px;
  height: 17px;
  background-color: #0375b4;
  margin: 2px;
  border-radius: 3px;
}

/* .rating-border {
  border: 2px solid #0375b4;
  border-radius: 5px;
  padding: 1px;
} */