/* .grid-sizer, .grid-item {
    width: calc(100% );
}

@media screen and (min-width: 850px) {
    .grid-sizer, .grid-item {
        width: calc(50% - 15px);
    }
}

@media screen and (min-width: 1150px) {
    .grid-sizer, .grid-item {
        width: calc(33.333% - 15px);
    }
}

@media screen and (min-width: 1450px) {
    .grid-sizer, .grid-item {
        width: calc(25% - 15px);
    }
}

@media screen and (min-width: 1850px) {
    .grid-sizer, .grid-item {
        width: calc(20% - 15px);
    }
}

.grid-item {
    margin-bottom: 15px;
} */
.load-more {
    text-align: center;
    padding: 10px 0;
}

.fieldset-container {
    border: solid 1px #444;
    text-align: left;
    position: relative;
    padding: 0 15px;
    margin-bottom: 25px;
    display: inline-block;
    max-width: 400px;
}

.fieldset-heading-text {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    transform: scale(1, 1.1);
    font-size: 1rem;
    color: #333;
    padding: 0 7px;
    display: inline-block;
    position: relative;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
  }

.nrc-logo {
    position: relative;
    width: 150px;
    padding: 0 7px;
}

.full-width {
    width: 100%;
    display: inline-block;
}