@import url('https://fonts.googleapis.com/css?family=Anton|Lato|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham-Ultra.woff2') format('woff2'),
         url('../fonts/Gotham-Ultra.woff') format('woff'),
         url('../fonts/Gotham-Ultra.svg') format('svg'),
         url('../fonts/Gotham-Ultra.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}